.hope {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.container_all {
    text-align: center;
    background-image: url(../img/back.png);
    border-top-style: none;
    border-right-style: groove;
    border-bottom-style: none;
    border-left-style: groove;
}

.contact p {
    font-size: 18px;
    text-transform: none;
}

.contact h2 {
    padding-bottom: 25px;
}

p a {
    color: #EC6550;
}

p a:hover {
    color: #5C93C1;
    text-decoration: underline;
}

.left_contact {
    background-image: url(../img/back.png);
}

.right_contact {
    background-image: url(../img/back.png);
}
span {
    text-transform: none;
    font-size: 14px;
}
h4 {
    margin: 40px 0 10px 0;
}
.map {
    width: 380px;
    height: 350px;
}
