.container_all {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    
    background-image: url(../img/back.png);
    border-top-style: none;
    border-right-style: groove;
    border-bottom-style: none;
    border-left-style: groove;
    
}

.obch {
    display: table;
    background-image: url(../img/back.png);
    text-align: center;
    height: 760px;
    
    font-size: 18px;
    text-transform: none;
    padding: 15px;
    border-top-style: none;
    border-right-style: groove;
    border-bottom-style: none;
    border-left-style: groove;
}
.container_all div {
    height: 50px;
}

.container_all div.lanee {
    border-bottom-style: solid ;
    border-bottom-color: silver;
    border-width: 1.5px;
}

.left_pr, .right_pr {
    
    background-image: url(../img/back.png);
    
}

th {
    
    font-size: 22px;
}
.name {
    text-align: left;
    padding-left: 45px;
    padding-top: 20px;
    text-decoration: underline;
}
.naming {
    text-align: left;
    padding-left: 20px;
}
.left_contact {
    
    background-image: url(../img/back.png);

}
.right_contact {
    
    background-image: url(../img/back.png);

}
.wrap {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 760px;
}
