.obch {
    display: table;
    background-image: url(../img/back.png);
    text-align: center;
    border-top-style: none;
    border-right-style: groove;
    border-bottom-style: none;
    border-left-style: groove;
    font-size: 18px;
    text-transform: none;
    border-collapse: collapse;
}

th {
    padding-left: 10px;
    font-size: 20px;
}
.name {
    text-align: left;
    padding-left: 45px;
    padding-top: 20px;
    text-decoration: underline;
}
.naming {
    text-align: left;
    padding-left: 20px;
}
.left_contact {
    background-image: url(../img/back.png);
}
.right_contact {
    
    background-image: url(../img/back.png);
}
.wrap {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}
td {
    padding-left: 10px;
}

table {
    border-collapse: collapse;
}
footer {
    border-top: 5px solid #59595A;
    display: block;
    padding: 8px 35px 0 10px;
    height: 30px;
    position: relative;
    background: #343434;
    color: white;
    text-transform: none;
    font-size: 12px;
    text-align: right;
}
