.hope {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 760px;
    
}

.container_all {
    text-align: left;
    height: 760px;
    background-image: url(../img/back.png);
    border-top-style: none;
    border-right-style: groove;
    border-bottom-style: none;
    border-left-style: groove;
    min-width: 390px;
    padding-right: 100px;
}



.east_test {
    
    background-image: url(../img/back.png);
    
}

.west_test {

    background-image: url(../img/back.png);
    
    
}

.floor {
    margin-top: 100px;

}

.adress_on{
    color: #EC6550;
}

.adress_on:hover {
    color: #5C93C1;
    text-decoration: underline;
}

#adress {
    text-transform: none;
    font-size: 14px;
    padding-left: 40px;
    
}
